@model MoazahBids.Domain.Entities.Bid

@{
    ViewData["Title"] = "עריכת דרישה";
}

<h1>עריכת דרישה</h1>

<hr />
<h4>מידע כללי</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                שם הדרישה
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                הערות כלליות
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                נוצר
                <input asp-for="CreatedDate"  class="form-control" disabled />
            </div>
            <div class="form-group">
                תאריך אחרון להגשת הצעות
                <input asp-for="LastCallDate" type="date" class="form-control" />
                <span asp-validation-for="LastCallDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="שמור" class="btn btn-primary" />
            </div>

        </form>


        <hr />
        <h4>פריטים</h4>
        <h6>פריטים קיימים</h6>

        @await Html.PartialAsync("BidItemsList", (Model.Items, true))

        <form asp-action="AddItem" method="post" asp-route-id="@Model.Id" class="border rounded-2 p-2 mt-3">
        <h6>פריט חדש</h6>
            <input type="hidden" name="BidId" value="@Model.Id" />
            <div class="form-group">
                <label class="control-label">שם המוצר</label>
                <input name="Name" class="form-control" required />
            </div>
            <div class="form-group">
                <label class="control-label">כמות נדרשת</label>
                <input name="RequiredQuantity" class="form-control" required min="1" />
            </div>
            <div class="form-group">
                <label class="control-label">הערות</label>
                <textarea name="Notes" class="form-control"></textarea>
            </div>
            <div class="form-group mt-3">
                <button class="btn btn-primary" type="submit">הוסף</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Index">חזרה למסך הראשי</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
