@model NewOfferModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "הצעת מחיר חדשה";
}

<h2>הוסף הצעת מחיר</h2>
<h6>נא להזין את המחיר של כל פריט, כולל מע"מ.</h6>
<form method="post" class="">
    <div class="row">
    @for (int i = 0; i < Model.Bid.Items.Count; i++)
    {
        <div class="col-6 col-md-3 mb-2">
            <label class="form-label" asp-for="Prices[i]">@Model.Bid.Items[i].Name</label>
            <input asp-for="Prices[i]" class="form-control" />
        </div>
        <hr />
    }
    </div>
    <button type="submit" class="btn btn-primary">שליחת ההצעה</button>
</form>

