@model List<BidItem>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="list-group">
    @for (var i = 0; i < Model?.Count; i++)
    {
        <li class="list-group-item">
            @Model?[i].Name
            &times;
            @Model?[i].RequiredQuantity
            @if (Model?[i].Notes is not null or "")
            {

                <a class="btn btn-sm btn-outline-info" data-bs-toggle="collapse" href="#collapseDesc_@i" role="button" aria-expanded="false" aria-controls="collapseExample">
                    הערות
                </a>
                <div class="collapse mt-2" id="collapseDesc_@i">
                    <div class="card card-body">
                        @Model?[i].Notes
                    </div>
                </div>
            }
        </li>
    }
</ul>
